<!DOCTYPE html>
<t:block :replace="cmt_trace.html"></t:block>
<html lang="en" :lang="${lang}" data-bs-theme="dark">

<head>
    <t:block :replace="head.html">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../static/favicon.ico">
        <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/icons/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="../../static/css/style.css">
    </t:block>
    <title :text="${__('Admin - %s',siteTitle)}">Admin - SiteTitle</title>
</head>

<body class="admin">
    <header class="navbar bg-body-tertiary sticky-top flex-md-nowrap p-0 shadow">
        <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">Home</a>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sign out</a>
            </div>
        </div>
    </header>

    <section class="container-fluid h-100" style="margin-top: -40px;padding-top: 40px;">
        <div class="row h-100">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <i class="bi-house"></i>
                                Dashboard
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <section class="h-100 col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column">
                <main class="flex-grow-1">
                    Main
                </main>
                <footer>Footer</footer>
            </section>
        </div>
    </section>

    <script src="../../static/js/bootstrap.bundle.min.js" :src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/site.js" :src="/static/js/site.js"></script>
</body>
<t:block :replace="cmt_footer.html"></t:block>

</html>