<!DOCTYPE html>
<t:block :replace="cmt_trace.html"></t:block>
<html lang="en" :lang="${lang}" data-bs-theme="dark">

<head>
    <t:block :replace="head.html">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../static/favicon.ico">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/icons/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </t:block>
    <title :text="${__('Install')}">安装</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="../static/logo.svg" :src="/static/logo.svg" alt="Logo" width="40" height="40">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                    :aria-label="${__('Toggle navigation')}" aria-label="切换导航栏展开关闭">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel" :text="${__('Menu')}">菜单</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            :aria-label="${_x('close-btn', 'Close')}" aria-label="关闭"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item" :replace="toggle_theme.html">ToggleTheme</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="text-center form-signin w-100 m-auto">
        <form action="" method="post" id="login-form" class="container-fluid">
            <img class="mb-4" src="../static/logo.png" :src="/static/logo.png" alt="Logo" width="80" height="80">
            <h1 class="h3 mb-3 fw-normal" :text="${__('Install')}">安装</h1>
            <blockquote class="error" :replace="show_err.html">错误信息</blockquote>
            <fieldset id="fieldset" disabled>
                <div class="form-floating">
                    <input class="form-control no-bottom-radius" id="site_title" name="site_title" placeholder="站点标题"
                        :placeholder="${__('Site Title')}" required>
                    <label for="site_title" :text="${__('Site Title')}">站点标题</label>
                </div>

                <div class="form-floating">
                    <input class="form-control no-top-radius no-bottom-radius" id="username" name="username"
                        placeholder="用户名" :placeholder="${__('Username')}" required>
                    <label for="username" :text="${__('Username')}">用户名</label>
                </div>
                <div class="form-floating">
                    <input class="form-control no-top-radius no-bottom-radius" id="email" name="email" type="email"
                        placeholder="电子邮件" :placeholder="${__('Email')}" required>
                    <label for="email" :text="${__('Email')}">电子邮件</label>
                </div>
                <div class="form-floating">
                    <input class="form-control no-top-radius mb-3" id="plain" type="password" placeholder="密码"
                        :placeholder="${__('Password')}" required>
                    <label for="plain" :text="${__('Password')}">密码</label>
                    <input type="hidden" name="password" id="passwd">
                    <input type="hidden" name="salt" :value="${salt}">
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit" :text="${__('Sign in')}">登录</button>

            </fieldset>
            <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
        </form>
    </main>

    <script src="../static/js/bootstrap.bundle.min.js" :src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/sha256.min.js" :src="/static/js/sha256.min.js"></script>
    <script src="../static/js/site.js" :src="/static/js/site.js"></script>
</body>
<t:block :replace="cmt_footer.html"></t:block>

</html>