<!DOCTYPE html>
<t:block :replace="cmt_trace.html"></t:block>
<html lang="en" :lang="${lang}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title :text="${__('Login - %s',siteTitle)}">Login</title>
    <link rel="stylesheet" href="../static/css/style.css" :href="/static/css/style.css">

</head>

<body>
    <header>
        <h1 :text="${__('Login')}">Login</h1>
    </header>
    <main>
        <p :text="${__('Welcome')}">Welcome</p>
        <blockquote class="error" :replace="show_err.html">Error Msg</blockquote>
        <form action="/login/" method="post" id="login-form">
            <fieldset id="fieldset" disabled>
                <div>
                    <label for="username" :text="${__('Username')}">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="plain" :text="${__('Password')}">Password</label>
                    <input type="password" id="plain" required>
                    <input type="hidden" name="password" id="passwd">
                    <input type="hidden" name="salt" :value="${salt}">
                </div>
                <div>
                    <button type="submit" :text="${__('Submit')}">Sumbit</button>
                </div>
            </fieldset>
        </form>
    </main>
    <footer :replace="footer.html">Footer</footer>
    <script src="../static/js/sha256.min.js" :src="/static/js/sha256.min.js"></script>
    <script src="../static/js/login.js" :src="/static/js/login.js"></script>
</body>
<t:block :replace="cmt_footer.html"></t:block>

</html>