@import url(./reset.css);

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-inline: 1em;
}

main {
    flex-grow: 1;
}

blockquote {
    padding: 1em;
    margin-block: 1em;
    border: .1em solid;
    border-inline-start: .5em solid;
}

.error {
    border-color: red
}

form {
    margin: 1em 0;
}

fieldset {
    padding: 1em;
}

fieldset div {
    margin-block-end: .5em;
    display: flex;
}

fieldset label {
    width: 30%;
}

fieldset button {
    padding: .2em .5em;
}

header,
footer {
    padding-block: 1em;
}

footer {
    border-block-start: 1px solid;
}